* {
	color: #0b0170;
	border-color: #dcc285;
	background-color: #f9adac;
	padding: 0px;
	margin: 0px;
}

#sfdnav {
	color: #fff;
	background-color: #0b0150;
	font-size: 2em;
	font-family: 'Great Vibes', cursive;
}

#navbarSupportedContent {
	background-color: #0b0150;
}

#mainnav {
	background-color: #0b0150;
	height: 4em;
}

#navlist {
}

#navlist li a {
	color: #aaa;
	background-color: #0b0150;
	font-family: 'Raleway', sans-serif;
}


.silver-back {
	background-color: #cccccc;
}

.silver-back p {
	background-color: #cccccc;
}

.section {
	margin: 2em 0em 7em 0em;
}

.top-pic {
	width: 100%;
}

.left-pic {
	width: 30em;
	float: left;
}

.article-top-pic {
	max-width: 100%;
	height: auto;

}

.story-pic {
	width: 100%;
	height: auto;
}

article {
	margin-bottom: 10em;
}
.top-row {
	background-color: #d89c9b;
}